.answer {
    padding-top: 20px;
    padding-bottom: 20px
}

.answer .container {
    display: flex;
    flex-direction: column;
}

.answer-pre-title {
    font-size: 20px;
    color: #dcdcf3;
}

.answer-pre-title img {
    margin-left: 15px;
    margin-right: 15px;
}

.test-name {
    font-size: 20px;
    color: #6933dc;
}

.answer-title {
    margin: 60px 0;
}

.text-title {
    font-size: 54px;
    color: #6933dc;
    font-family: "MuseoSansCyrl-700", sans-serif;
}

.text-title span {
    color: #333;
}

.answer-question-options {
    margin-top: 40px;
    min-height: 344px;
}

.answer-question-option {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    display: flex;
}

.answer-question-option label {
    cursor: pointer;
}

.answer-question-option.right label {
    color: #5FDC33;
}

.answer-question-option.right input {
    border: 6px solid #5FDC33;
}

.answer-question-option.wrong label {
    color: #DC3333;
}

.answer-question-option.wrong input {
    border: 6px solid #DC3333;
}